@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Level1">Level 1</a>
    <a class="btn btn-dark" asp-area="" asp-controller="Home" asp-action="Level2">Level 2</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Level3">Level 3</a>
</div>
