@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary w-25 h-25" asp-area="" asp-controller="Level1" asp-action="Beer">Beer Game</a>
    <a class="btn btn-primary w-25 h-25" asp-area="" asp-controller="Level1" asp-action="Bucket">Bucket Game</a>
</div>
